#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: StructList(
        config: (snake_case_fields: true, worktable_support: true),
        struct_elements: [
            StructElement(
                inner: Struct(
                    name: "UserView",
                    fields: [
                        Field(name: "user_public_id", ty: UUID),
                        Field(name: "username", ty: String),
                        Field(name: "role", ty: EnumRef(name: "UserRole")),
                    ],
                ),
            ),
            StructElement(
                inner: Struct(
                    name: "SupportMessage",
                    fields: [
                        Field(name: "incoming", ty: Boolean),
                        Field(name: "sent_by", ty: String),
                        Field(name: "sent_at", ty: String),
                        Field(name: "content", ty: String),
                    ],
                ),
            ),
            StructElement(
                inner: Struct(
                    name: "WaitlistLead",
                    fields: [
                        Field(name: "id", ty: Int64),
                        Field(name: "name", ty: String),
                        Field(name: "telegram", ty: Optional(String)),
                        Field(name: "whatsApp", ty: Optional(String)),
                        Field(name: "description", ty: String),
                    ],
                ),
            ),
        ],
    ),
)
